.env
venv/
__init__.py

credentials.json
notes.ipynb

structure.txt
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore Jupyter Notebook checkpoints
token.json
cred.txt
token.txt

# Ignore testing files
test_calender_api.py
test_calender.py   
test_time_parsing.py

